<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>ADMIN PANEL</title>
  <link rel = "icon" type = "image/JPG" href = "static/title.JPG">
  <link rel="stylesheet" href="static/adminlog.css">
 <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Admin <span> Login</span></div>
		</div>
		<br>
		<div class="login">
        <form class="" method="POST" action="/admin">
      	<input type="text" placeholder="username" name="user"><br>
				<input type="password" placeholder="password" name="password"><br>
				<input type="submit" value="Login">
        </form>
		</div>
